@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --border: 226 232 240;
  }

  .dark {
    --background: 15 23 42;
    --foreground: 248 250 252;
    --border: 51 65 85;
  }

  body {
    @apply bg-white text-brand-900 antialiased;
    font-feature-settings: 'cv11', 'ss01';
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
